body {
  margin: 100px;
  color: white;
  font-family: "Roboto", sans-serif;
}
.card-body {
  margin: 0 auto;
  background: rgb(143, 228, 212);
  background: linear-gradient(
    0deg,
    rgba(143, 228, 212, 0.18110994397759106) 6%,
    rgba(0, 0, 0, 1) 100%
  );
  padding: 28px;
  border-radius: 4px;
  width: 600px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

h2 {
  font-size: 13px;
}
h2:first-letter {
  text-transform: capitalize;
}

h3 {
  font-size: 14px;
}
h1 {
  font-size: 90px;
  padding: 0;
}
h1:first-letter {
  text-transform: capitalize;
}

.date {
  margin-top: 20px;
}
#search-field {
  border-radius: 40px;
  border: none;
}
.main {
  display: flex;
}

.temperature {
  margin-left: 20px;
  padding-top: 20px;
}

ul {
  list-style-type: none;
  margin-left: 30px;
  padding-left: 0;
}
.current-temperature {
  font-size: 70px;
}
.description {
  padding-left: 40px;
  color: #eff0f5;
  background-color: #4d4c4b;
  border-color: #1a1919;
  border-radius: 4px;
}
.units,
a {
  font-size: 25px;

  color: #fff;
  text-decoration: none;
  cursor: default;
}

.temp-info {
  margin-left: 100px;
}
.weather-forecast {
  margin: 20px 1px;

  text-align: center;
}

.forecast-block {
  font-size: 14px;
  padding: 2px;
  color: #10162f;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.forecast-temperature {
  font-size: 13px;
}
.button-cels,
.button-fharenh {
  color: white;
  text-decoration: none;
}
.geolocation {
  border-radius: 4px;
  border: none;
}
.link {
  color: rgb(243, 30, 30);
  font-style: monospaced;
  font-size: 15px;
  margin-left: 300px;
}
