body {
  margin: 100px;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.card-body {
  margin: 0 auto;
  background: rgb(143, 228, 212);
  background: linear-gradient(
    0deg,
    rgba(143, 228, 212, 0.18110994397759106) 6%,
    rgba(0, 0, 0, 1) 100%
  );
  padding: 28px;
  border-radius: 4px;
  width: 600px;
}

h2 {
  font-size: 13px;
}
h2:first-letter {
  text-transform: capitalize;
}

h3 {
  font-size: 13px;
}
h1 {
  font-size: 90px;
  padding: 0;
}
h1:first-letter {
  text-transform: capitalize;
}

.date {
  margin-top: 20px;
}
#search-field {
  border-radius: 40px;
  border: none;
}
.main {
  display: flex;
}
.info {
  margin-left: 56px;

  padding-top: 10px;
}
.temperature {
  margin-left: 30px;
  padding-top: 20px;
}

.current-temperature {
  font-size: 70px;
}
.units,
a {
  font-size: 30px;

  color: #fff;
  text-decoration: none;
  cursor: default;
}

.temp-info {
  margin-left: 400px;
}
.days {
  background-color: grey;
  margin: 2px;
  padding: 3px;
  font-size: 13px;
  text-align: center;
}
.button-cels,
.button-fharenh {
  color: white;
  text-decoration: none;
}
.geolocation {
  border-radius: 4px;
  border: none;
}
.link {
  color: rgb(243, 30, 30);
  font-style: monospaced;
  font-size: 15px;
  margin-left: 300px;
}
